<div class="main-container">
    <div class="title" style="margin-top: 50px; padding-left: 50px;">
        <h1>iPhone</h1>
        <h3>Home / Products / Smart Phones / <b>iPhone</b></h3>
    </div>
    <div class="container">
        <div class="filters">
            <app-filters [filtersList]="categoriesList" (selectedFilter)="filterBy($event)"></app-filters>
        </div>
        <div class="row">
            <div class="col-4" *ngFor="let product of productsList">
                <div class="card">
                    <img src="../../../../assets/product.svg" alt="iphone image">
                    <div class="product-details">
                        <h2 class="title">{{product.title}}</h2>
                        <p class="description" [title]="product.description">{{product.description}}</p>
                        <span class="prices">
                            <h5 [ngStyle]="{'text-decoration': product.discountPercentage ? 'line-through' : 'normal'}">
                                {{product.price}} <span class="currency">USD</span></h5>
                            <h5>{{calcPriceAfterDiscount(product.price,product.discountPercentage)}} <span
                                    class="currency">USD</span></h5>
                        </span>
                        <h6 class="details">Brand: <b>{{product.brand}}</b></h6>
                        <h6 class="details">Category: <b>{{product.category}}</b></h6>
                        <h6 class="details">In stock: <b>{{product.stock}}</b></h6>

                        <button>Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="padding-bottom: 70px;">
        <app-pagination [lastPage]="lastPage" [currPage]="currentPage" (prev)="handlePrevious()" (next)="handleNext()"
        (goTo)="handleGoTo($event)"></app-pagination>
    </div>

</div>