@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
:root {
    --bg-color: #56D9D9;
    --border-color: #424242;
    --text-color: #344054;
    --description-color: #667085;
    * {
        font-family: "Inter";
        font-style: normal;
        box-sizing: border-box;
    }
}